<h1>Welcome to ThoughtBox</h1>

<% if current_user %>
  <br>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% @link.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>

  <%= form_for(@link) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :url %>
    <%= f.text_field :url %>

    <%= f.submit "Add Link" %>
  <% end %>
  <br>
  <br>

  <table>
    <% current_user.links.each do |link| %>
      <tr class="link-row <%= link.status %>">
        <% if link.id %>
          <td>
            <%= link.title %>
          </td>
          <td>
            <%= link.url %>
          </td>
          <td id="link-status-<%= link.id %>">
            <%= link_status(link) %>
          </td>
          <td>
            <a href="#" data-id="<%= link.id %>" class="status update-status-<%= link.id %>">Mark as <%= link_action(link) %></a>
          </td>
          <td>
            <a href="/links/<%= link.id %>/edit" data-id="<%= link.id %>" class="edit-link-<%= link.id %>">Edit</a>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <%= link_to "Logout", logout_path, method: :delete %>
<% else %>
  <%= link_to "Sign Up", new_user_path  %>
  <%= link_to "Login", new_session_path  %>
  <br>
<% end %>
